{% extends 'base.jinja2' %}

{% block subtitle %}Add Donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <label for="name">Donor Name:</label><input id="name" type="text" name="name"><br>
    <label for="donation">Donation:</label><input id="donation" type="number" name="donation"><br>
    <input type="submit" value="Donate">
</form>
{% endblock content %}